@use './mixin' as *;

.shows-hero{
    display: flex;
    color: #fff;

    &__container{
    background-image: url("/assets/Images/hero-shows.jpg");
    background: linear-gradient();
    background-size: 100%;
    width: 100%;
    background-position: center;
    height: 15rem;
    }
    &__header3{
        color: #fafafa;
        padding: 2rem 0 2rem 1rem;
        font-weight: 400;
    }
    &__header1{
        font-weight: 600;
        padding-left: 1rem;
    }
}