@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
}

html {
  font-family: "AvenirNext LT Pro";
}

.header {
  display: flex;
  background-color: #323232;
  width: 100%;
  height: 6.5rem;
  color: #fff;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}
.header__nav {
  display: flex;
  background-color: #323232;
  width: 100%;
  height: 6.5rem;
  color: #fff;
  justify-content: space-evenly;
  width: 100%;
}
.header__logo {
  width: 9rem;
  height: auto;
  padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    margin: 0 2.5rem 0 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header__logo {
    padding-left: 3rem;
  }
}
.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .header__list {
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }
}
.header__link {
  display: flex;
  color: #AFAFAF;
  text-decoration: none;
  display: block;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 1280px) {
  .header__link {
    font-size: 0.8125rem;
  }
}
@media only screen and (min-width: 768px) {
  .header__link {
    padding-bottom: 0;
    padding-left: 2rem;
  }
}

.footer {
  display: flex;
  position: relative;
  color: #fff;
  background-color: #323232;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  line-height: 1.125rem;
  size: 0.8125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .footer {
    margin: 0%;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.footer__contact-info {
  padding: 1rem 0 1rem 0;
  line-height: 1.5rem;
}
.footer__nav {
  padding: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 1rem 0;
  }
}
.footer__heading {
  font-weight: 600;
  color: #323232;
  font-size: 2rem;
  font-size: 1.75rem;
  color: #fff;
  padding: 1rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__heading {
    padding-right: 2rem;
  }
}
.footer__icons {
  word-spacing: 3rem;
}
@media only screen and (min-width: 768px) {
  .footer__icons {
    word-spacing: 2rem;
  }
}
.footer__logo {
  width: 10rem;
  height: auto;
  padding: 4rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    right: 3rem;
    top: 0rem;
    width: 7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__logo {
    right: 7rem;
    top: 0rem;
  }
}
.footer__copyright {
  line-height: 1.25rem;
  font-size: 0.95rem;
}
@media only screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__contact {
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact-container {
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-bottom: 2rem;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__container {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  margin: 0;
  height: 15rem;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .hero__container {
    width: 100%;
    height: 30rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__container {
    width: 100%;
    height: 40rem;
  }
}
.hero__text {
  color: #fff;
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .hero__text {
    font-size: 60px;
    font-weight: 600;
    padding-left: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__text {
    padding-left: 10rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem 1rem 1rem;
}
.about__heading {
  font-weight: 600;
  color: #323232;
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .about__heading {
    padding: 2rem 0 1.5rem 1rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .about__heading {
    padding-left: 6rem;
  }
}
.about__quote {
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.375rem;
}
@media only screen and (min-width: 768px) {
  .about__quote {
    padding: 0 4rem 1rem 4rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .about__quote {
    padding-left: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__quote-text {
    padding-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    text-height: 1.35rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__quote-text {
    padding-right: 14rem;
  }
}
.about__image {
  width: 100%;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .about__image {
    padding: 0 4rem 1rem 4rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1280px) {
  .about__image {
    padding: 1rem 10rem 2rem 10rem;
  }
}
.about__name {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.15rem;
}
@media only screen and (min-width: 768px) {
  .about__name {
    padding: 0 0 1rem 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__name {
    padding-left: 10rem;
    font-weight: 700;
    font-size: 1.625rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__paragraph-container {
    display: flex;
    flex-direction: row;
    padding: 0 4rem 1rem 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__paragraph-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.about__paragraph {
  margin-bottom: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .about__paragraph {
    flex-direction: row;
    padding-right: 1rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
  width: 100%;
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .photo-gallery {
    font-size: 0.75rem;
    padding: 3rem 2rem 2rem 2rem;
    font-weight: 600;
    color: #323232;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .photo-gallery {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .photo-gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
.photo-gallery__image {
  width: 100%;
  margin: 0.5rem 0;
}
@media only screen and (min-width: 768px) {
  .photo-gallery__image {
    width: 33%;
    padding: 0 0.5rem 0.25rem 1rem;
  }
}
.photo-gallery__heading {
  font-weight: 600;
  color: #323232;
  font-size: 2rem;
  padding-top: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .photo-gallery__heading {
    padding: 1rem 0 1rem 1rem;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments__heading {
  font-weight: 600;
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.comments__subheading {
  font-weight: 600;
  color: #AFAFAF;
  font-size: 0.7rem;
  padding-top: 1rem;
}
.comments__image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-top: 1.9rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.comments__add-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments__top-container {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.comments__div-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.comments__image-container {
  background-color: #E1E1E1;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.comments__data-container {
  display: flex;
  flex-direction: column;
}

.comment__all-container {
  display: flex;
}

.comment__image {
  padding-left: 1rem;
}

.comment__name {
  font-weight: 600;
  font-size: 1rem;
}

.comment__text {
  display: flex;
  font-weight: 400;
  font-size: 0.9rem;
}

#commentSubmit {
  color: #FAFAFA;
  background-color: #323232;
  width: auto;
  height: 2.5rem;
  border-radius: 0.25rem;
  border-style: none;
  margin-top: 2rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

#commentText {
  background-color: #FAFAFA;
  border-color: #E1E1E1;
  border-radius: 0.25rem;
  width: auto;
  height: 5rem;
  margin-right: 1rem;
}

#name {
  background-color: #FAFAFA;
  border-color: #E1E1E1;
  height: 2.25rem;
  border-radius: 0.25rem;
  width: auto;
  margin-right: 1rem;
}

hr {
  margin: auto;
  border-top: 1px solid #E1E1E1;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 95%;
}/*# sourceMappingURL=bio.css.map */